<div class="card" style="height: 40rem;">
    <img src="{{item.thumbnail}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title fs-3">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <p class="card-text text-danger fw-bold text-center">Price: ${{item.price}}</p>
      <!-- <div class="button">
          <a href="#" class="btn btn-danger fw-bold">Order Now</a>
      </div> -->
      <div class="card">
        <app-btn text="Order Now" (clicked)="onOrderNowClicked()"></app-btn>
      </div>      
    </div>
</div>